[Unit]
Description=Sensor
After=network.target wifi-reset.service

[Service]
Type=simple
WorkingDirectory=/root/dylos
ExecStart=/root/pyenv/versions/3.5.2/envs/dylos/bin/python main.py

[Install]
WantedBy=multi-user.target
